body {
background: #EEAECA;
background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
font-family: 'Verdana';

h1 {
text-align: center;
  font-size: 1.75rem;
  padding: 20px;
  background-color: rgba(164, 190, 227, .75);
  
}
